.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #229382;
    padding: 0;
}

.left, .right {
    display: flex;
    align-items: center;
}

.left {
    flex: 1;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 12%;
    display: block;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}
