* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans' sans-serif;
}

html, body, #root {
  min-height: 100vh;
  background-color: #efefef;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}